/* Globalne style dla ciemnego motywu */
body {
  background-color: #121212;
  color: #e0e0e0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e0e0e0;
}

.table {
  background-color: #1f1f1f;
  color: #e0e0e0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #323232;
  color: #e0e0e0;
}

.table-hover tbody tr:hover {
  background-color: #454545;
  color: #e0e0e0;
}

.table-bordered,
.table-bordered th,
.table-bordered td {
  border-color: #454545;
}

thead {
  background-color: #343a40;
}

thead th {
  color: #e0e0e0;
}
