/* src/App.css */

:root {
  --primary-color: rgb(2, 154, 136);
  --secondary-color: rgb(3, 204, 180);
  --background-color: #121212d3;
  --text-color: #e0e0e0;
  --card-background: #2c2c2c;
  --input-background: #1f1f1f;
  --input-border: #444;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.header,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

h1 {
  color: rgb(13, 204, 182);
}

.table {
  background-color: #1f1f1f;
  color: var(--text-color);
  border-radius: 10px;
  overflow: hidden;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #323232;
}

.table-hover tbody tr:hover {
  background-color: #454545;
}

.table-bordered,
.table-bordered th,
.table-bordered td {
  border-color: #454545;
}

.table thead th {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.table thead th:hover {
  background-color: var(--secondary-color);
}

.table thead th:first-child {
  border-top-left-radius: 10px;
}

.table thead th:last-child {
  border-top-right-radius: 10px;
}

.table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

/* Styles for clickable rows */
.clickable-row {
  cursor: pointer;
  background-color: #1f1f1f;
}

.clickable-row:hover {
  background-color: #495057;
  color: white;
}

/* Form styles */
.form-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--card-background);
  color: var(--text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  background-color: var(--input-background);
  color: var(--text-color);
  transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
  border-color: var(--primary-color);
  outline: none;
}

.form-group button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: var(--secondary-color);
}
